{% extends "base.html" %}
{% load static %}

{% block page_header %}
   <!-- SHOW SLIDER -->
    <main id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Our Subscrptions</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, temporibus?</p>
        </div>
      </div>
    </div>
    </main>
{% endblock %}

{% block content %}
  <!-- SUBSCRIPTIONS SECTION -->
  <section class="about py-5">
    <div class="container">
      <div class="row">
      {% for item in subscriptions %}
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-dark text-white">
              <h3>{{ item.name }}</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">&euro;{{ item.price }}</h4>
              <p class="card-text">{{ item.description}}</p>
              <ul class="list-group">
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Feature One
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Feature Two
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Feature Three
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Feature Four
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Feature Five
                </li>
              </ul>
              {% if user.is_authenticated %}
                    <a href="{% url 'add_to_cart' item.id %}" class="btn btn-danger btn-block mt-2">Get It</a>
              {% else %}
                    <a href="#" class="btn btn-danger btn-block mt-2">Add to Card ( You must be logged In)</a>
              {% endif %}
            </div>
          </div>
          <hr>
        </div>
       {% endfor %}
    </div>
    </div>
  </section>
{% endblock %}