{% extends "base.html" %}
{% load static %}

{% block page_header %}
   <!-- SHOW SLIDER -->
    <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Subscription Cart</h1>

        </div>
      </div>
    </div>
    </header>
{% endblock %}

{% block content %}
  <!-- PROCEED TO CHECKOUT SECTION -->
  <section id="services" class="py-5">
    <div class="container">
    <p>{{ subscription_count }} Your Subscription is at a total cost of: &euro;{{ total }}</p>
      <div class="row">
      {% for item in cart_items %}
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-dark text-white">
              <h3>{{ item.subscription.name }}</h3>
            </div>
            <div class="card-body">
              <h4 class="card-title">&euro;{{ item.subscription.price }}</h4>
              <p class="card-text">{{ item.subscription.description}}</p>
              <ul class="list-group">
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Feature One
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Feature Two
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Feature Three
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Feature Four
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Feature Five
                </li>
              </ul>
              {% if user.is_authenticated %}
                    <a class="btn btn-success btn-block mt-2" href="#" title="Checkout">Proceed to checkout!</a>
              {% else %}
                    <a href="#" class="btn btn-danger btn-block mt-2">Add to Card ( You must be logged In)</a>
              {% endif %}
            </div>
          </div>
          <hr>
        </div>
       {% endfor %}
    </div>
    </div>
  </section>
{% endblock %}