{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
		<div class="content-section">
			<div class="media">
				<img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
				<div class="media-body">
					<h2 class="account-heading">{{ user.username }}</h2>
					<p class="text-secondary">{{ user.email }}</p>
				</div>
			</div>
          <p></p>
        </div>
      </div>
    </div>
    </div>
  </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                
            </div>
        </div>
    </div>
{% endblock %}