{% extends "base.html" %}
{% load static %}

{% block page_header %}
   <!-- PAGE HEADER TEMPLATE -->
    <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Payment Successfull</h1>
          <hr>
            <p>Your subscription confirmation is below. A confirmation email will be sent to <strong>{{order.email }}</strong></p>
        </div>
      </div>
    </div>
    </header>
{% endblock %}

{% block content %}
  <!-- CHECKOUT PAGE  -->
<div class="container">
<section class="about py-5">
	<div class="row">
		<div class="col-12 col-lg-7">
            <div class="order-confrimation-wrapper p-2 border">
                <div class="row">
                    <div class="col">
                    <small class="text-muted">Purchase Info</small>
                    </div>
                </div>
                <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Subsription number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                </div>

                <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Start date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                </div>
                <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Subsription Price</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">&euro;{{ order.price }}</p>
                        </div>
                </div>
            </div>
        </div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-7 text-right">
			<a href="#" class="btn btn-black rounded my-2">
				<span class="icon mr-2">
                            <i class="fas fa-gifts"></i>
                        </span>
				<span class="text-uppercase">Now check out the latest reports</span>
			</a>
		</div>
	</div>
</section>
</div>


{% endblock %}