{% extends "base.html" %}
{% load static %}

{% block page_header %}
   <!-- SHOW SLIDER -->
    <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Subscription Card</h1>
          <p>Here you can choose your subscription plan</p>
        </div>
      </div>
    </div>
    </header>
{% endblock %}

{% block content %}
  <!-- CARD SECTION -->
     <div class="container mt-2 mb-2">
    <!-- looping through donation products and displaying-->
    {% for item in donations %}
    <div class="row mb-2">
        <div class="col">
            <div class="card query-card">
                <div class="card-body query">

                    <h4>{{ item.name }}</h4>
                    <p><span class="donate-description">{{ item.description}}</span>
                        <span class="donate-price">&euro;{{ item.price }}</span>
                        <span class="donate-cart"><a href="#">
                                <!-- icon link to add item to cart -->
                                <i class="fa fa-cart-plus fa-2x " aria-hidden="true"></i></a>
                            {% if user.is_authenticated %}
                            <small>Add to Cart</small>
                            {% else %}
                            <small>Add to Cart ( You must be logged In)</small>
                            {% endif %}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>


  <!-- FAQ -->
 

 
{% endblock %}