body {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    background-color: #f1f1f1;
    position: relative;
    padding-bottom: 123px;
    min-height: 100vh;
}


/* from Bulma to style checkout buttons */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 32px;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('../pics/image1.jpg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('../pics/image2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../pics/image3.jpg');
  background-size: cover;
}

.img-thumbnail {
    width: 300px;
    height: 205px;
}

#home-icons {
    background-color: #dad0d0;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url('../pics/lights.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url('../pics/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#page-header {
  height: 200px;
  background: url('../pics/image1.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

#main-footer {
    background: #000;
    color: #fafafa;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* profile page styling */

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
    height: 140px;
    width: 185px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: -10px;
}

.account-heading {
  font-size: 2.5rem;
  color: rgb(70, 68, 68);
}


/* Allauth form templates */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* --- styling the toasts --- */

.container-messages {
    background-color: rgb(221, 212, 212);
    position: fixed;
    opacity: .4;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-style-w {
    background: rgb(212, 178, 114);
}

.toast-style-e {
    background: rgb(219, 99, 99);
}

.toast-style-i {
    background: rgb(98, 138, 212);
}

.toast {
    position: absolute; 
    top: 100px; 
    right: 75px;
}

.toast-body {
    height: 100px;
    text-align: justify;
}

.toast-style-s {
    background:#5aaf6d
}

.toast {
    background: lightgray;
}

.p-toast {
    margin-left: 4px;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: -webkit-left;
}

/* Checkout form styles */
.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

/* Stripe CSS for Element's container */

.StripeElement,
.stripe-style-input {
  height: 40px;
  padding: 10px 12px;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus
.stripe-style-input:focus
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}


/* styling the article detail view */

.banner {
  height: 400px;
  max-width: 1140px;
  margin: 40px auto 40px auto;
  background-color: #2a2a2a;
  display: flex;
  margin-bottom: 5px;
  margin-left: -17px;
}

.center-me {
  color: #FFF;
  font-size: 50px;
  margin: auto;
  display: flex;
}

.author-img {
  max-height: 50px;
  max-width: 50px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: -10px;
}

/* style the button go to top */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999999999999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.image-wrapper {
    color: blue;
}

.profile-wrap {
    margin-bottom: -9px;
}

.newspaper {
    column-count: 1;
    text-align: justify;
    padding-left: 175px;
    padding-right: 175px;
}
  
.newspaper p:first-of-type:first-letter {
    font-size:3em;
    float: left;
    /*adjust the following properties at your own risk*/
    line-height: 50%;
    margin:0.1em 0.1em 0.1em -0.05em;
  }
.newspaper img{
    height:auto;
    width:100%;
  }
  
.newspaper h2{
   column-span: all;
}

#align {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}


/* footer styles*/
.social-icons{
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 5px;
    padding: 3px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.social-icons:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
}

#main-footer {
    background: #000;
    color: #fafafa;
}

/* back-to-top-button */

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: #333;
  color: #fff;  
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/* zoomIn */
/* @keyframes btnEntrance { 
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }    
} */

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}
/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

/* media queries */

@media(max-width: 992px) {
  .container { padding: 20px 100px; }
  #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
}
@media(max-width:768px) {
  body { font-size: 16px; }
  .container { padding: 10px 50px; }
  h1 { font-size: 26px; }
  h2 { font-size: 22px; }
  hr { margin: 30px 0; }
  #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
}
