<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'about' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                about
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'article_list' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                reports
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'subscription' %}" class="logo-font font-weight-bold nav-link text-white mr-5"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                subscribe
            </a>
        </li>
    </ul>
</div>