{% extends "base.html" %}
{% load static %}

{% block page_header %}
  
            
 
{% endblock %}

{% block content %}
    <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>About Us</h1>
          <p>We are serious about football writting</p>
        </div>
      </div>
    </div>
    </header>
       <!-- ABOUT SECTION -->
  <section id="about" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>What is the idea</h1>
          <p>We have created this writting platform inspired by the beautiful game of football. While there is abundacy of
            websites this project focuses on football reports and analysis. It quickly evolved to real-world writting platform
            Most of our content looks into the football not only as game but as a social phenomenom too.
            Many will argue that music performers also get fifty thousands spectators to fill up a staduim. Imagine how hard will be
            though the same music performer to fill up a stadium twenty times in a span of ten months in one city. In Manchester there are two football teams
            doing it 25 times on average.</p>
          <p>Feel invited to check our sampled content. Please register to obtain access to our full and freshly updated content for free. For those of us who
            have the hearts and minds of an author or simply want to share their view we have created subscription plans to write on our website. Please look at
            the subscription plan as form of support to us. It is a donation that help us keep going as we won't allow any adverts but need to maintain the website.
            Once you become a subscriber you will have access to the magic button 'publish' in your own profile. Let your journey begin! 
           </p>
        </div>
        <div class="col-md-6">
          <img src="https://source.unsplash.com/random/700x700/?football" alt="" class="img-fluid rounded-circle d-none d-md-block about-img">
        </div>
      </div>
    </div>
  </section>
{% endblock %}
