{% extends "base.html" %} {% block content %}
<div class="container">

    <div class="col-12 card">
    <hr />
        <div class="card-header"> <h2 class="text-bold" id="align"><p>{{ article.title }}</p></h2>
    <img src="{{ article.article_image.url }}" class="img-fluid img-responsive" />
    </div>
    <div class="col-12 card-body">
    <div class="col-6">
      <img
        class="author-img img-thumbnail rounded-circle mt-1"
        src="{{ user.profile.image.url }}"
      />
      <div class="row">
          <p><small class="text-muted"
            >Written by <strong>{{ article.author }}</strong> on <strong>{{ article.date_posted|date:"F d, Y" }}</strong></small
          ></p>
      </div>
      </div>
      <hr class="mt-1"/>
      <p class="article-content">{{ article.content|safe }}</p>
      <form method="post">
            <div class="form-group">
              {% csrf_token %}
              <a
                class="btn btn-secondary btn-sm mt-1 mb-1"
                href="{% url 'article_update' object.id %}"
                >Update</a
              >
              <a
                class="btn btn-danger btn-sm mt-1 mb-1"
                href="{% url 'article_confirm_delete' object.id %}"
                >Delete</a
              >
            </div>
          </form>
    </div>
</div>
</div>
{% endblock %}
