{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Publish Your Articles</h1>
          <p class="mobile">We would advise to prepare the title and content in advance and add it here when ready</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container">
    <section id="blog" class="py-3">
    
      <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <p class="border-bottom mb-4">Recommended picture size 1100x760. We would advise please use desktop for better writting</p>
                {{ form|crispy }}
                {{ form.media }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" aria-label="Publish">Publish</button>
            </div>
        </form>
    </div>
    </section>
    </div>
{% endblock %}