{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Read Our Articles</h1>
          <p>We would advise to register here and have access to the full content</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container mt-2 mb-5">    
        <div class="col">
        {% for article in articles %}

        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'article_detail' article.id %}"><img class="img-fluid" src="{{ article.article_image.url }}"/></a>
            </div>
            <div class="col-md-8 card-body">
                <small class="ml-1 text-muted">Written by <strong>{{ article.author }}</strong> on <strong>{{ article.date_posted|date:"F d, Y"  }}</strong></small>
                <hr class="mt-0">
                <div class="card-title">
                <h3><a class="ml-1 text-dark card-title" href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h3>
            </div>
        </div>
        </div>
        <hr class="w-auto">
        {% endfor %}
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>

            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
        </div>

    </div>
  
  
 
{% endblock %}