{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Read Our Articles</h1>
          <p>We would advise to register here and have access to the full content</p>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
    <section id="blog" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col">
        {% for article in articles %}
        <article class="media content-section">
          <img class="account-img img-thumbnail" src="{{ article.article_image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ article.author }}</a>
              <small class="text-muted">{{ article.date_posted|date:"F d, Y"  }}</small>
            </div>
            <hr>
            <h2><a class="article-title" href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h2>
          </div>
        </article>
        {% endfor %}
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>

            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
        </div>
      </div>
    </div>
  </section>
  
 
{% endblock %}