{% extends "account/base.html" %}

{% load i18n %}

{% block page_header %}
    <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Logout Page</h1>

        </div>
      </div>
    </div>
    </header>
{% endblock %}


{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<div class="containter">
<section id="icon-boxes" class="p-5">
<hr>
<h2 class="logo-font mb-4">{% trans "Sign Out" %}</h2>
<hr>
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a class="btn btn-outline-info rounded" href="{% url 'home' %}">Home</a>
  <button class="primaryAction rounded" type="submit">{% trans 'Sign Out' %}</button>
</form>
</section>
</div>

{% endblock %}