{% load static %}
<!doctype html>
<html lang="en">

<head>
     {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{% static 'pics/favicon.ico' %}">
    {% endblock %}

    {% if title %}
        <title>Football Report - {{ title }}</title>
    {% else %}
        <title>Football Report</title>
    {% endif %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" />
        <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/68e72e7215.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>
        <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
</head>
<body>
    <!-- NAVIGATION BAR -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand">The Football Report</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{% url 'about' %}" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'article_list' %}" class="nav-link">Reports</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'subscription' %}" class="nav-link">Subscribe</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'profile' %}" class="nav-link">My profile</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'subscription' %}" class="nav-link">Subscribe</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account_login' %}" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account_signup' %}" class="nav-link">Sign Up</a>
            </li>
            {% endif %}
            </ul>
        </div>
        </div>
    </nav>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}
    {% block content %}
    {% endblock %}

    
    {% block extra_content %}
    {% endblock %}
    {% block postloadjs %}
    <script type="text/javascript">
         $('.toast').toast('show');
    </script>
    {% endblock %}    

     <!-- FOOTER -->

    <footer id="main-footer" class="text-center p-4">
    <div class="container">
        <div class="row main-footer py-3 py-lg-2">
            <div class="col-12 container text-center">
                <a href="https://github.com/https://github.com/podvistorcheto/football-report" target="_blank" 
                    rel="noopener">
                    <i class="fab fa-github social-icons" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com" target="_blank"
                    rel="noopener">
                    <i class="fab fa-linkedin-in social-icons" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener">
                    <i class="fab fa-instagram social-icons" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener">
                    <i class="fab fa-facebook social-icons" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-12 text-center">
                <small> For educational use only | © 2020 Deyan Denev  </small>
            </div>
        </div>
        </div>
    </footer>

</body>
</html>